In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
import time
import scipy.sparse
import re

In [3]:
ai_patents = pd.read_csv('/data/sg/munjkim/nokia_bell_project/raw/ai_model_predictions.csv')

/tmp/ipykernel_2165448/2202837024.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  ai_patents = pd.read_csv('/data/sg/munjkim/nokia_bell_project/raw/ai_model_predictions.csv')

In [5]:
ai_ali_patents = pd.read_csv('../../../ImpactofAI/data/ai_patents_keywrods_alicpc_07092024.csv')

In [6]:
all_patents = pd.read_csv('/data/sg/munjkim/nokia_bell_project/raw/g_cpc_current.tsv',sep='\t')

In [31]:
ai_patents = ai_patents[ai_patents['predict50_any_ai']==1]

In [32]:
ai_patent_ids = set(ai_patents['doc_id'])

In [33]:
len(all_patents), len(ai_patent_ids)

(55460284, 2920066)

In [ ]:
disruption_npy = np.load('/data/sg/munjkim/USPTO/nokia_intern/data/raw/patentsview/

In [38]:
disruption_npy = np.load('/data/sg/munjkim/USPTO/nokia_intern/data/derived/disruption.npy')

In [44]:
disruption_npy

array([0., 0., 0., ..., 1., 1., 0.], shape=(7387609,))

In [42]:
net = scipy.sparse.load_npz("/data/sg/munjkim/USPTO/preprocessed/citation_net.npz")
citations = np.array(net.sum(axis=0))[0]
references = np.array(net.sum(axis=1)).reshape((1,-1))[0]

In [46]:
paper_table = pd.read_csv('/data/sg/munjkim/USPTO/preprocessed/paper_table.csv')

/tmp/ipykernel_2165448/2222392570.py:1: DtypeWarning: Columns (0,2,6,9,10,12,17,18,19,21,26,27,28,29,30,31,32,34,36) have mixed types. Specify dtype option on import or set low_memory=False.
  paper_table = pd.read_csv('/data/sg/munjkim/USPTO/preprocessed/paper_table.csv')

In [47]:
paper_table.head()

,patent_id,type,number,country,date,year,abstract,title,kind,num_claims,...,num_total_documents_cited,num_times_cited_by_us_patents,earliest_application_date,patent_processing_days,uspc_current_mainclass_average_patent_processing_days,cpc_current_group_average_patent_processing_days,term_extension,detail_desc_length,paper_id,frac_year
0,10000000,utility,10000000,US,2018-06-19,2018,A frequency modulated coherent laser detection...,Coherent LADAR using intra-pixel quadrature de...,B2,20,...,5,0,2015-03-10,1197,NaN,1093.0,430.0,18369.0,0,2018.416667
1,10000001,utility,10000001,US,2018-06-19,2018,The injection molding machine includes a fixed...,Injection molding machine and mold thickness c...,B2,12,...,17,0,2015-12-08,924,NaN,1124.0,247.0,30963.0,1,2018.416667
2,10000002,utility,10000002,US,2018-06-19,2018,The present invention relates to: a method for...,Method for manufacturing polymer film and co-e...,B2,9,...,14,0,2014-12-30,1267,NaN,1189.0,46.0,29163.0,2,2018.416667
3,10000003,utility,10000003,US,2018-06-19,2018,The invention relates to a method for producin...,Method for producing a container from a thermo...,B2,18,...,12,1,2013-03-12,1925,NaN,1193.0,371.0,6823.0,3,2018.416667
4,10000004,utility,10000004,US,2018-06-19,2018,The present invention relates to provides a do...,"Process of obtaining a double-oriented film, c...",B2,6,...,5,0,2015-12-17,915,NaN,1124.0,NaN,8508.0,4,2018.416667

In [35]:
patents_view_ai_patents = all_patents[all_patents['patent_id'].apply(lambda x: x in ai_patent_ids )]

In [11]:
ai_patents['appl_id']

0           14643719
1           14962323
2           15107519
3           14437961
4           14973198
              ...
15437537    16560513
15437538    17396023
15437539    16902934
15437540    16850934
15437541    17241197
Name: appl_id, Length: 15437542, dtype: int64

In [7]:
all_patents.head()

,patent_id,cpc_sequence,cpc_section,cpc_class,cpc_subclass,cpc_group,cpc_type
0,3950000,0,A,A63,A63C,A63C9/001,inventional
1,3950000,1,A,A63,A63C,A63C9/00,inventional
2,3950000,2,A,A63,A63C,A63C9/002,inventional
3,3950000,3,A,A63,A63C,A63C9/081,inventional
4,3950001,0,A,A63,A63C,A63C9/086,inventional

In [8]:
ai_ali_patents.head()

,Unnamed: 0,patent_id,type,number,country,date,year,abstract,title,kind,...,cpc_current_group_average_patent_processing_days,term_extension,detail_desc_length,paper_id,frac_year,disruption,edm_disruption,citations,references,embedding_id
0,2290,10002313,utility,10002313,US,2018-06-19,2018,A Convolutional Neural Network CNN includes an...,Deeply learned convolutional neural networks C...,B2,...,769.0,9.0,31486.0,2290,2018.416667,0.006122,0.848063,6.0,20.0,2290
1,3654,10003688,utility,10003688,US,2018-06-19,2018,Systems for caller identification and authenti...,Systems and methods for cluster-based voice ve...,B1,...,456.0,NaN,30155.0,3654,2018.416667,-0.003891,0.698857,4.0,63.0,3654
2,4360,10004406,utility,10004406,US,2018-06-26,2018,"An activity monitoring device, methods and com...",Portable monitoring devices for processing app...,B2,...,936.0,NaN,96241.0,4360,2018.416667,-0.000111,0.829835,5.0,175.0,4360
3,4396,10004442,utility,10004442,US,2018-06-26,2018,Systems and methods for processing sensor data...,Advanced analyte sensor calibration and error ...,B2,...,1065.0,NaN,194243.0,4396,2018.416667,-0.002332,0.932001,8.0,47.0,4396
4,7195,10007263,utility,10007263,US,2018-06-26,2018,"Methods and systems for monitoring use, determ...",Autonomous vehicle accident and emergency resp...,B1,...,963.0,127.0,152850.0,7195,2018.416667,-0.004117,0.905069,21.0,108.0,7195

In [7]:
task_ratings = pd.read_csv('/data/sg/munjkim/USPTO/nokia_intern/data/raw/ONET_ALI/db_24_3_text/Task Ratings.txt', sep='\t').query('`Scale ID` == "IM"')
task_statements = pd.read_csv('/data/sg/munjkim/USPTO/nokia_intern/data/raw/ONET_ALI/db_24_3_text/Task Statements.txt', sep='\t')
jobs = pd.read_csv('/data/sg/munjkim/USPTO/nokia_intern/data/raw/ONET_ALI/db_24_3_text/Occupation Data.txt', sep='\t')
jobs['SOC Code'] = jobs['O*NET-SOC Code'].str[:7]
tasks = pd.merge(
    task_ratings,
    task_statements[['O*NET-SOC Code', 'Task ID', 'Task']],
    how='left',
    on=['O*NET-SOC Code', 'Task ID']
)

In [8]:
tasks = pd.merge(
    task_ratings,
    task_statements[['O*NET-SOC Code', 'Task ID', 'Task']],
    how='left',
    on=['O*NET-SOC Code', 'Task ID']
)

In [9]:
tasks

,O*NET-SOC Code,Task ID,Scale ID,Category,Data Value,N,Standard Error,Lower CI Bound,Upper CI Bound,Recommend Suppress,Date,Domain Source,Task
0,11-1011.00,8823,IM,NaN,4.54,78,0.08,4.38,4.71,N,07/2014,Incumbent,Direct or coordinate an organization's financi...
1,11-1011.00,8831,IM,NaN,4.48,82,0.08,4.31,4.65,N,07/2014,Incumbent,Appoint department heads or managers and assig...
2,11-1011.00,8825,IM,NaN,4.40,86,0.10,4.21,4.59,N,07/2014,Incumbent,Analyze operations to evaluate performance of ...
3,11-1011.00,8826,IM,NaN,4.39,84,0.07,4.24,4.54,N,07/2014,Incumbent,"Direct, plan, or implement policies, objective..."
4,11-1011.00,8827,IM,NaN,4.17,76,0.12,3.93,4.42,N,07/2014,Incumbent,"Prepare budgets for approval, including those ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19493,53-7121.00,12807,IM,NaN,4.08,53,0.41,3.26,4.90,N,08/2019,Incumbent,Unload cars containing liquids by connecting h...
19494,53-7121.00,12804,IM,NaN,4.02,28,0.15,3.70,4.33,N,08/2019,Incumbent,"Clean interiors of tank cars or tank trucks, u..."
19495,53-7121.00,12803,IM,NaN,3.88,56,0.23,3.41,4.35,N,08/2019,Incumbent,Lower gauge rods into tanks or read meters to ...
19496,53-7121.00,12805,IM,NaN,3.87,31,0.26,3.34,4.41,N,08/2019,Incumbent,Operate conveyors and equipment to transfer gr...
19497,53-7121.00,12810,IM,NaN,3.53,36,0.25,3.02,4.04,N,08/2019,Incumbent,"Perform general warehouse activities, such as ..."